# NetBeans specific #
html5/nbproject/private/
html5/build/
html5/nbbuild/
html5/public_html/
html5/dist/
html5/nbdist/
html5/nbactions.xml
html5/nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

